# CIVL 300 - Question 2

**Assumption:** Penalties and incentives are not included in the calculation of the price to the owner (P). Penalties and incentives are only included when accounting for "costs" in the determination of profit (π).

In [1]:
import pandas as pd

In [2]:
E = 12e6
rate_CP = 0.13
rate_LS = 0.15
rate_GMP = 0.18

In [3]:
data = {
    "Part": ["A", "B", "C", "D"],
    "D": [10, -5, 0, 5],
    "C": [0, 0.05*E, 0.02*E, 0.10*E],
    "U": [0.05*E, 0.02*E, -0.02*E, 0]
}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

  Part   D          C         U
0    A  10        0.0  600000.0
1    B  -5   600000.0  240000.0
2    C   0   240000.0 -240000.0
3    D   5  1200000.0       0.0

In [6]:
def price_LS(C, E, R):
    return (E + C) * (1 + R)

In [7]:
def price_GMP(E, R):
    return E * (1 + R)

In [8]:
def price_CP(A, C, R):
    return (A + C) * (1 + R)

In [9]:
def profit(P, C, D, A):
        
    pi = P - (A + C)
    
    if D < 0:
        pi += 5e3 * abs(D)
    else:
        pi -= 2e4 * abs(D)
    
    return pi

In [10]:
def profit_gmp(P, C, D, A):
    if C > 3e5:
        C_actuals = 3e5
    else:
        C_actuals = C
    
    pi = P - (A + C_actuals)
    
    if D < 0:
        pi += 5e3 * abs(D)
    else:
        pi -= 2e4 * abs(D)
    
    return pi

In [11]:
df["A"] = df["U"].apply(lambda x: x+E)

In [12]:
df["P_cost"] = df.apply(lambda rows: price_CP(rows["A"], rows["C"], rate_CP), axis=1)

In [13]:
df["P_lump"] = df.apply(lambda rows: price_LS(rows["C"], E, rate_LS), axis=1)

In [14]:
df["P_gmp"] = df.apply(lambda rows: price_GMP(E, rate_GMP), axis=1)

In [15]:
df

,Part,D,C,U,A,P_cost,P_lump,P_gmp
0,A,10,0.0,600000.0,12600000.0,14238000.0,13800000.0,14160000.0
1,B,-5,600000.0,240000.0,12240000.0,14509200.0,14490000.0,14160000.0
2,C,0,240000.0,-240000.0,11760000.0,13560000.0,14076000.0,14160000.0
3,D,5,1200000.0,0.0,12000000.0,14916000.0,15180000.0,14160000.0

In [16]:
df["π_cost"] = df.apply(lambda rows: profit(rows["P_cost"], rows["C"], rows["D"], rows["A"]), axis=1)

In [17]:
df["π_lump"] = df.apply(lambda rows: profit(rows["P_lump"], rows["C"], rows["D"], rows["A"]), axis=1)

In [18]:
df["π_gmp"] = df.apply(lambda rows: profit_gmp(rows["P_gmp"], rows["C"], rows["D"], rows["A"]), axis=1)

In [19]:
df

,Part,D,C,U,A,P_cost,P_lump,P_gmp,π_cost,π_lump,π_gmp
0,A,10,0.0,600000.0,12600000.0,14238000.0,13800000.0,14160000.0,1438000.0,1000000.0,1360000.0
1,B,-5,600000.0,240000.0,12240000.0,14509200.0,14490000.0,14160000.0,1694200.0,1675000.0,1645000.0
2,C,0,240000.0,-240000.0,11760000.0,13560000.0,14076000.0,14160000.0,1560000.0,2076000.0,2160000.0
3,D,5,1200000.0,0.0,12000000.0,14916000.0,15180000.0,14160000.0,1616000.0,1880000.0,1760000.0